@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

.header {
    border-bottom: 1px solid #e3e3e3;
    /* padding: 10px 0; */
    position: static;
    height: 90px;
    /* border-radius: 10px; */
}

.logo {
    padding-left: 15px;
    padding-top: 15px;
    position: relative;
    float: left;
}

.search-icon {
    position: relative;
    float: right;
    right: -370px;
    top: 35px;
}

.title {
    font-family: 'Dancing Script', cursive;
    font-size: 65px;
    color: #2c8dde;
    position: relative;
    float: left;
    padding-left: 15px;
    padding-top: 10px;
    /* display: inline; */
}